body {

}

.sort {
  margin: 0 auto;
}


h1 {
     color: #550000;
     text-align: center;
     font-size: 5em;
}

.navbar-header, #navbarCollapse {
    background-color: #E3E5E4;
    color: grey;
}
.footer {
    text-align: center;
    width: 100%;
    background-color: #E3E5E4; 
	position: absolute;
	bottom: 0%;
}

  
  .form-control {
  margin: auto;
  width: 90%;
  }
  
  label {
  margin-left: 5%;
  }

  #table1, #table2{
  width: 50%; 
  display: inline-table;  
  }

  tbody tr:hover.selected td,
tbody tr:hover td {
  background-color: #f2f2f2;
  cursor: pointer;
}
tbody tr.selected td {
  background-color: #b3b3b3;
}


  
  .btn {
  display: block;
    margin: 0 auto;
  }


@media only screen and (max-width: 768px) {
  #table1, #table2 {
    width: 100%;
    display: block;
  }

[class^="col"] {
    background: rgba(255, 69, 69, 0.73);
    border: 1px solid rgba(255, 69, 69, 0.8);
}
.toggle-stuff {
  text-align: center;
  margin: 30px 0;
}s
